.about-hero {
    width: 100%;
    height: 250px;
    padding: 76px 186px;
    background: no-repeat url(../../assets/AboutImg/about-hero.png) 0 0 / 100% 100%;
}
.about-hero-text {
    width: 124px;
    height: 25px;
    color: rgb(31, 43, 108);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}
.about-ero-title {
    color: rgb(31, 43, 108);
    font-family: Yeseva One;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: left;
}
.about-card-2 {
    padding: 4rem 11.688rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}
.welcome {
    Width: 341px;
    Height: 21px;
    Top: 474px;
    Left: 615px;
    Font: Work Sans;
    Font-weight: 700;
    Font-size: 18px;
    Letter-spacing: 16%;
    color: #159EEC;
}
.bestCare {
    width: 446px;
    font-size: 2.5rem;
    color: rgb(31, 43, 108);
    font-family: Yeseva One;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: left;
}
.about-card-title ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: Work Sans;
    font-size: .8rem;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    margin: 1rem;
}
.lorem1 {
    margin: 2rem 0 1rem;
    color: rgb(0, 0, 0);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}
.lorem2 {
    color: rgb(0, 0, 0);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}

/* johnDoe-div */
.johnDoe-div {
    width: 1519px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
    background: no-repeat url(../../assets/AboutImg/johnDoe-bg.svg) 0 0 / 100% 100%;
}
.johnDoe-div h5 {
    color: rgb(252, 254, 254);
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
}
.john-img {
    width: 45px;
    height: 30px;
    margin: 0 auto;
}
.johnDoe-div p {
    font-size: 22px;
    color: white;
}
.line {
    width: 200px;
    border: .1rem solid white;
    border-radius: .5rem;
}
/* threeCircle */
.threeCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.slider-circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.circle1 {
    border-radius: 50px;
    background: rgb(252, 254, 254);
}
.circle2 {
    border-radius: 50px;
    background: rgb(191, 210, 248);
}
.circle3 {
    border-radius: 50px;
    background: rgb(252, 254, 254);
}
/* johnDoe-div end */