#header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999999;
}
.header-top {
  width: 100%;
  padding-block: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}
.header-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
}
.header-icons li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
}
.header-icons li i {
  font-size: 2rem;
  color: black;
}
.header-icons li div .span {
  color: blue;
}
/* .header-bottom {} */
.header-bottom {
  background: #1f2b6c;
  padding-block: 10px;
}
.header-bottom_list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.header-bottom_list .link {
  font-family: Work Sans, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #bfd2f8;
}
.header-bottom_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bottom_search {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.header-bottom_search .bottom_icon {
  border: none;
  background: none;
}
.header-bottom_search input {
  border: solid 1px rgb(69, 69, 116);
  background: none;
  color: white;
  padding: 3px 4px;
  margin: 8px 4px;
  border-radius: 8px;
}
